* {
    main-bg:            #161924B3;
    main-fg:            #CCD7FFE6;
    main-br:            #665143E6;
    main-ex:            #332E31E6;
    select-bg:          #F0CBAA80;
    select-fg:          #523C29E6;
}
