@define-color nord0  rgba(46, 52, 64, 0.9);
@define-color nord1  rgba(59, 66, 82, 0.9);
@define-color nord2  rgba(67, 76, 94, 0.9);
@define-color nord3  rgba(76, 86, 106, 0.9);
@define-color nord4  rgba(216, 222, 233, 0.9);
@define-color nord5  rgba(229, 233, 240, 0.9);
@define-color nord6  rgba(236, 239, 244, 0.9);

@define-color nord7  rgba(143, 188, 187, 0.9);
@define-color nord8  rgba(136, 192, 208, 0.9);
@define-color nord9  rgba(129, 161, 193, 0.9);
@define-color nord10 rgba(94, 129, 172, 0.9);
@define-color nord11 rgba(191, 97, 106, 0.9);
@define-color nord12 rgba(208, 135, 112, 0.9);
@define-color nord13 rgba(235, 203, 139, 0.9);
@define-color nord14 rgba(163, 190, 140, 0.9);
@define-color nord15 rgba(180, 142, 173, 0.9);

* {
    background-color: transparent;
}

.modules-left  {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.modules-center {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.modules-right {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#tray {
    padding: 0px 8px 0px 0px;
}
#tray menu {
    background-color: @nord1;
}

#mpd {
    min-width: 100px;
}

tooltip {
    background-color: @nord1;
    color: @nord6;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid @nord3;
}
