
$background: #15121a;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #332f38;
$inverse_primary: #743ec6;
$inverse_surface: #e8e0ec;
$on_background: #e8e0ec;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #42008a;
$on_primary_container: #ffffff;
$on_primary_fixed: #270057;
$on_primary_fixed_variant: #5c1fac;
$on_secondary: #3a2659;
$on_secondary_container: #eddeff;
$on_secondary_fixed: #240f43;
$on_secondary_fixed_variant: #513d72;
$on_surface: #e8e0ec;
$on_surface_variant: #cdc3d5;
$on_tertiary: #600049;
$on_tertiary_container: #ffffff;
$on_tertiary_fixed: #3b002c;
$on_tertiary_fixed_variant: #850c67;
$outline: #968d9f;
$outline_variant: #4b4453;
$primary: #d5baff;
$primary_container: #834ed5;
$primary_fixed: #ecdcff;
$primary_fixed_dim: #d5baff;
$scrim: #000000;
$secondary: #d4bbfa;
$secondary_container: #533f74;
$secondary_fixed: #ecdcff;
$secondary_fixed_dim: #d4bbfa;
$shadow: #000000;
$source_color: #834ed5;
$surface: #15121a;
$surface_bright: #3c3741;
$surface_container: #221e26;
$surface_container_high: #2c2831;
$surface_container_highest: #37333c;
$surface_container_low: #1e1a22;
$surface_container_lowest: #100d15;
$surface_dim: #15121a;
$surface_tint: #d5baff;
$surface_variant: #4b4453;
$tertiary: #ffaedc;
$tertiary_container: #b53c8f;
$tertiary_fixed: #ffd8eb;
$tertiary_fixed_dim: #ffaedc;
